@import "partials/basic";

.breadcrumb-wrap{
    display: flex;
    position: absolute;
    left: 20vw;
    top: -8vh;
    @include breakpoint ('mobileonly'){
        left: 10vw;
        flex-wrap: wrap;
    }
    a{
        display: block;
        box-sizing: border-box;
        @include text-rec(initial, 1rem, $colorLight, $colorDarker, transparent);
        height: initial;
        text-align: left;
        font-weight: bold;
        &:link, &:visited{
            color: $colorDarker;
        }
        @include breakpoint ('mobileonly'){
            margin: 5px 0;
        }
    }
    a:nth-child(1){
        clip-path: polygon(0% 0%, 73% 0, 100% 53%, 75% 100%, 0% 100%);
        width: 60px;
        padding-left: 5px;
    }
    a:nth-child(2){
        width: 120px;
        clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
        padding-left: 25px;
    }
    a:nth-child(3){
        width: 250px;
        clip-path: polygon(92% 0%, 100% 50%, 92% 100%, 0% 100%, 8% 50%, 0% 0%);
        padding-left: 25px;
    }
}
