@import "partials/basic";


.container-cf{
    padding: 100px;
	width: 80vw;
	box-sizing: border-box;
    margin: 10px auto ;
    margin-top: 250px;
    height: 30em;
    background-color: $colorMedium ;
    background-image: url(../images/movie_00.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-position-y: -40px;
    background-size: 1200px;
    overflow: hidden;
    .title{
    @include text-rec(100%, 1.5rem, $colorLight, $colorDarker, transparent);
    }
    .about{
    @include paragraph($colorDarker);
    
    }
}
.container-cfFilms{
    padding: 100px;
	width: 80vw;
	box-sizing: border-box;
    margin: 10px auto ;
    background-color: $colorMedium;
    .title{
    @include text-rec(100%, 1.5rem, $colorLight, $colorDarker, transparent);
    }
    .about{
    @include paragraph($colorDarker);
        
        padding: 30px;
    }
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 350px;
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 50px;
    .mycontent {
        position: relative;
        width: 50%;
        max-width: 200px;
        margin: 0 auto;
        overflow: hidden;
      }
    .cover{
        width: 400px;
        height: 280px;
        overflow: hidden;
    }
    p{
        padding-top: 10px;
        color: #602926;
        font-size: 26px;    
        width: 78%;
        text-align: center;
        margin: 0 auto;
    
    }
}

.first{
    padding-bottom: 10px;
    border-bottom: 1px solid #602926;
}
.post{
    width: 100%;
    height: 100%;

}
.system{
    transition: .5s;
    width: 100px;
    color: #cbab9e;
    background-color: #602926;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
a{
    text-decoration: none;
}
a:hover .system{
    color: #602926;
    background-color: #cbab9e;
    border: 1px solid #602926;
}
@media screen and (max-width: 1600px){
    .container-cf{
        background-position-y: 0;
        background-size: 1110px;
    }
}
@media screen and (max-width: 1360px){
    .container-cf{
        background-position-y: 30px;
        background-size: 1000px;
    }
}
@media screen and (max-width: 1030px){
    .container-cf{
        background-image: url(../images/movie_01.png);
        height: 50em;
        background-position-y: -360px;
        background-size: 650px;
    }
    .container-cfFilms{
        padding: 10px;
        
    }
}
@media screen and (max-width: 830px){
    .container-cf{
        margin-top: 200px;
        height: 40em;
        background-position-y: -340px;
        background-size: 550px;
    }
}
@media screen and (max-width: 550px){
    .container-cf{
        background-position-y: -160px;
        height: 35em;
        background-size: 400px;
        
    }
}
@media screen and (max-width: 460px){
    .container-cf{
        height: 35em;
        // background-position-x: -32px;
        background-position-y: -30px;
        background-size: 330px;
    }
}