@import "partials/basic";

.container-filmsDetail{
    padding: 100px;
	width: 80vw;
	box-sizing: border-box;
    margin: 10px auto ;
    background-color: $colorMedium;
    .title{
    @include text-rec(100%, 1.5rem, $colorLight, $colorDarker, transparent);
    }
    .about{
    @include paragraph($colorDarker);
    }
    
}


.box3{
    width: 80%;
    margin: 10px auto;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    margin-top: 50px;
    // 片名區
    .myfilmname{
        width:700px;
        display: flex;
        text-align: left;
        margin: 0 auto;
        .l_pad{
            width: 400px;
            padding: 20px;
        }
        #h01{
            width: 300px;
            border-right: 5px solid white;
            padding: 20px;
            text-align: right;
        }
    }
    
    
    
    
    .myfont{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .myfont a{
        color: white;
    }
    .fpg{
        display: flex;
        margin-top: 10px;
        text-align: center;
    }
    .myfont a{
        margin-top: 10px;
    }
    .l_font{
        width: 130px;
        background-color: white;
        padding: 10px;
        color: #8e5f59;    
    }
    .BGC{
        background-color: rgb(219, 143, 0);
    }
    .r_font{
        width: 130px;
        border: 1px solid white;
        padding: 10px;
    }
    
}
.box{    
    margin-top: 200px;
}
// 導演 演員表
.box2{
    width: 80vw;
    margin: 0 auto;
    background: $colorMedium;
    .left{
        margin-left: 60px;
    }
    .mycontent .mycontent-overlay {
        background: rgba(96, 41, 38,.6);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
      }
      
      .mycontent:hover .mycontent-overlay{
        opacity: 1;
      }
      
      .mycontent-image{
        width: 100%;
        
      }
      
      .mycontent-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out 0s;
      }
      
      .mycontent:hover .mycontent-details{
        top: 50%;
        left: 50%;
        opacity: 1;
      }
      
      .mycontent-details h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
      }
      
      .mycontent-details h4{
          color: #fff;
          font-size: 1em;
        }
      .mycontent-details p{
        color: #fff;
        font-size: 0.8em;
          line-height: 20px;  
      }
      
      .fadeIn-bottom{
        top: 80%;
      }
      p{
        color: #8e5f59;
    }
    
    .mycontain{
        display: flex;
        padding: 1em 0;
        // float: left;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        background: $colorMedium;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    .flex{
        display: flex;    
    }
    
    .dir{
        // width: 75%;
        display: flex;
        margin-bottom: 10px;
    }
    .act{
        // width: 90%; 
        display: flex;
        margin-bottom: 10px;
    }
    .mycontain h2{
        width: 30px;
        background-color: #602926;
        color: white;
        padding: 10px;
        height: 120px;
        text-align: center;
    }
    
    .mycontent {
      position: relative;
      width: 50%;
      max-width: 200px;
      margin: 0 ;
      overflow: hidden;
      margin-left: 10px;
    }
    .cover{
        width: 400px;
        height: 240px;
        overflow: hidden;
        margin-bottom: 10px;
    }
}



a{
    text-decoration: none;
}

/* Slideshow container */
ul,li{
    margin: 0;
    padding: 0;        
}
li{
    list-style: none;
}
.slide_wrap{
    max-width: 950px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;        
}
.slide_wrap ul.slides{
    height: 400px;
    /* overflow: hidden; */
    /* width: 3200px; */
    display: flex;
    left: 0px;
    position: absolute;
    transition: all 1s;
}
.slide_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}    

.pages{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.pages li{
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 4px;
}
.pages li:hover{
    background: white;
}
.arrow{
    font-size: 32px;
    color: white;
    position: absolute;
    /* top: 50%; */        
    z-index: 4;
    opacity: .6;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.arrow path{
    fill: white;
}
.arrow_left{
    left: 0px;
}
.arrow_right{
    right: 0px;
}
.arrow:hover{
    opacity: 1;
    background: rgba(0,0,0,.5);
}
.play{
    width: 60%;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
}

#trapezoid_left{
    border-top: 80px solid rgb(243, 210, 193);
    border-right: 50px solid transparent;
	height: 0;
	width: 600px;
    margin: 0 auto;
    color: #602926;
    margin-top: 10px;
}
#trapezoid_right{
    border-bottom: 80px solid rgb(243, 210, 193);
	border-left: 50px solid transparent;
	height: 0;
	width: 600px;
    margin: 0 auto;
    color: #602926;
    margin-top: 10px;
}
#trapezoid_right h2{
    padding: 20px 60px;    
}
#trapezoid_left h2{
    padding: 20px 60px;
    margin-top: -80px;
}

@media screen and (max-width: 1030px){
    .container-filmsDetail{
        width: 90vw;        
    }
    .box2{
        width: 90vw;
        .dir{
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .act{
           margin: 0 auto;
           margin-bottom: 10px;
           display: initial;
        }
        .left{
            margin-left: 60px;
        }
    }
    .box3{
        .myfilmname{
            width:400px;
        }           
    }
	
    .myfont{
        width: 70%;
        margin: 0 auto;
    }
    .slide_wrap{
        max-width: 700px;
        height: 400px;       
    }
    .slide_wrap ul.slides{
        height: 400px;
    }
    
     }
     @media screen and (max-width: 550px){
        .container-filmsDetail{
            width: 90vw;
            padding: 30px;
        }
        .box3{
            .myfilmname{
                width:300px;
                #h01{
                    width: 200px;
                }
            }  
                     
        }
        
        .myfont{
            width: 100%;
        }
        .slide_wrap{
            max-width: 400px;
            height: 200px;       
        }
        .slide_wrap ul.slides{
            height: 200px;
        }
        #trapezoid_left{
            border-top: 80px solid rgb(243, 210, 193);
            border-right: 0 solid transparent;
           
        }
        #trapezoid_right{
            border-bottom: 80px solid rgb(243, 210, 193);
            border-left: 0 solid transparent;
            
        }
        #trapezoid_right h2{
            padding: 20px 40px;    
        }
        #trapezoid_left h2{
            padding: 20px 40px;
            margin-top: -75px;
        }
     }

