@import "partials/basic";

.container-filmsDetail{
    padding: 100px;
	width: 80vw;
	box-sizing: border-box;
    margin: 10px auto ;
    background-color: $colorMedium;
    h2{
        margin-bottom: 10px;
        color: #602926;
        padding: 10px;
        text-align: center;
    }
    .title{
        @include text-rec(100%, 1.5rem, $colorLight, $colorDarker, transparent);
    }
    .about{
        @include paragraph($colorDarker);
        h2{
            margin-bottom: 10px;
            background-color: #602926;
            color: white;
            padding: 10px;
            text-align: center;
        }
    }
    #progressbar{
        margin: 0 auto;
        width: 80%;
        height: 25px;
        background-color: #e2dfd8;
        border-radius: 20px;
        overflow: hidden;
        border: 1px solid #602926;
        box-shadow: 0 0 2px inset;
        #bar{
            width: 0;
            height: 100%;
            background: linear-gradient(to top,rgba(92, 31, 31,1),rgba(255, 0, 0, 0));
            box-shadow: 0 0 2px inset;
        }
    }
    
}


.box3{
    width: 80%;
    margin: 10px auto;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    margin-top: 50px;
    // 片名區
    .myfilmname{
        width:700px;
        display: flex;
        text-align: left;
        margin: 0 auto;
        .l_pad{
            width: 400px;
            line-height: 30px;
            padding: 20px;
        }
        #h01{
            width: 300px;
            border-right: 5px solid white;
            padding: 20px;
            text-align: right;
        }
    }    
    .myfont{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .fpg{
        display: flex;
        margin-top: 10px;
        text-align: center;
    }
    .myfont a{
        margin-top: 10px;
    }
    .l_font{
        width: 130px;
        background-color: white;
        padding: 10px;
        color: #8e5f59;    
    }    
    .r_font{
        width: 130px;
        border: 1px solid white;
        padding: 10px;
    }
    .favorite{
        width: 130px;
        border: 1px solid white;
        padding: 10px;
        font-size: 15px;
        margin-top: 10px;
        color: white;
        cursor: pointer;
        font-family: "\5FAE\8EDF\6B63\9ED1\9AD4";
    }
    .bgc{
        color: white;
        background-color: #de912d;
    }
    input{
        display: none;
        &:checked+label{
            color: white;
            background-color: #de912d;
            svg{
                display: none;
            }
        }
    }
    
    
}

.box{    
    margin-top: 200px;
}
// 導演 演員表
.box2{
    width: 80vw;
    margin: 0 auto;
    background: $colorMedium;
    .left{
        margin-left: 60px;
    }
    .mycontent .mycontent-overlay {
        background: rgba(96, 41, 38,.6);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
      }
      
      .mycontent:hover .mycontent-overlay{
        opacity: 1;
      }
      
      .mycontent-image{
        width: 100%;
        height: 100%;
      }
      
      .mycontent-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out 0s;
        
      }
      
      .mycontent:hover .mycontent-details{
        top: 50%;
        left: 50%;
        opacity: 1;
      }
      
      .mycontent-details h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
      }
      
      .mycontent-details h4{
          color: #fff;
          font-size: 1em;
        }
      .mycontent-details p{
        color: #fff;
        font-size: 0.8em;
          line-height: 20px;  
      }
      
      .fadeIn-bottom{
        top: 80%;
      }
      p{
        color: #8e5f59;
      }
    
    .mycontain{
        display: flex;
        padding: 1em 0;
        // float: left;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        background: $colorMedium;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    
    .dir{
        display: flex;
        margin-bottom: 10px;
    }
    .act{
        display: flex;
        margin-bottom: 10px;
    }
    .mycontain h2{
        width: 30px;
        background-color: #602926;
        color: white;
        padding: 10px;
        height: 120px;
        text-align: center;
    }
    
    .mycontent {
      position: relative;
      width: 50%;
      max-width: 200px;
      margin: 0 ;
      overflow: hidden;
      margin-left: 10px;
    }
    .cover{
        width: 400px;
        height: 260px;
        overflow: hidden;
        margin-bottom: 10px;
    }
}

.flex{
    display: flex;    
}

a{
    text-decoration: none;
}

/* Slideshow container */
ul,li{
    margin: 0;
    padding: 0;        
}
li{
    list-style: none;
}
.slide_wrap{
    max-width: 950px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;        
}
.slide_wrap ul.slides{
    height: 500px;
    display: flex;
    left: 0px;
    position: absolute;
    transition: all 1s;
}
.slide_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-fit: contain;
}    

.pages{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.pages li{
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 4px;
}
.pages li:hover{
    background: white;
}
.arrow{
    font-size: 32px;
    color: white;
    position: absolute;     
    z-index: 4;
    opacity: .6;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.arrow path{
    fill: white;
}
.arrow_left{
    left: 0px;
}
.arrow_right{
    right: 0px;
}
.arrow:hover{
    opacity: 1;
    background: rgba(0,0,0,.5);
}
.play{
    width: 60%;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
}

#trapezoid_left{
    border-top: 80px solid #cbab9e;
    border-right: 50px solid transparent;
	height: 0;
	width: 450px;
    margin: 0 auto;
    color: #602926;
    margin-top: 10px;
    h2{
        padding: 20px 60px;
        margin-top: -80px;
    }
}
#trapezoid_right{
    border-bottom: 80px solid #cbab9e;
	border-left: 50px solid transparent;
	height: 0;
	width: 600px;
    margin: 0 auto;
    color: #602926;
    margin-top: 10px;
    h2{
        padding: 20px 60px;    
    }
}

.play_video{
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    left: 7.5%;
    top: 41%;
    background: url(../images/icon_play4.png) no-repeat;
    background-size: 100%;
    z-index: 1;
}

@media screen and (max-width: 1030px){
    .container-filmsDetail{
        width: 90vw;        
    }
    .box2{
        width: 90vw;
        .dir{
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .act{
           margin: 0 auto;
           margin-bottom: 10px;
           display: initial;
        }
        .left{
            margin-left: 60px;
        }
    }
    .box3{
        .myfilmname{
            width:400px;
        }           
    }
	
    .myfont{
        width: 70%;
        margin: 0 auto;
    }
    .slide_wrap{
        max-width: 700px;
        height: 400px;       
    }
    .slide_wrap ul.slides{
        height: 400px;
    }
    .play_video{
        background-size: 90%;
        left: 7.5%;
        top: 40%;
    }
    
}
     @media screen and (max-width: 550px){
        .container-filmsDetail{
            width: 90vw;
            padding: 30px;
        }
        .box3{
            width: 100%;
            .myfilmname{
                width:300px;
                #h01{
                    width: 200px;
                }
            }  
            .myfont{
                width: 80%;
            }         
        }
        
        
        .slide_wrap{
            max-width: 375px;
            height: 230px;       
        }
        .slide_wrap ul.slides{
            height: 230px;
        }
        #trapezoid_left{
            border-top: 80px solid #cbab9e;
            border-right: 0 solid transparent;
           
        }
        #trapezoid_right{
            border-bottom: 80px solid #cbab9e;
            border-left: 0 solid transparent;
            
        }
        #trapezoid_right h2{
            padding: 20px 40px;    
        }
        #trapezoid_left h2{
            padding: 20px 40px;
            margin-top: -75px;
        }
        .play_video{
            background-size: 70%;
            left: 7%;
            top: 35%;
        }
     }

