@import "partials/basic";
.container-home{
.flag-wrap{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 15vw;
    // border: 3px solid green;
    @include breakpoint('tablet'){
        width: 30vw;
    }
    @include breakpoint('mobileonly'){
        width: 50vw;
    }
    .line-long{
        position: absolute;
        background-color: $colorLight;
        height: 100%;
        width: 5px;
        top: 0;
        right: 5%;
    }
    .flag-inner-wrap{
        position: absolute;
        @include text-rec(100%, 1.5rem, transparent, transparent, transparent);
        // border: 2px solid red;
        top: 15%;
        right: 1.5%;
        @include breakpoint('mobileonly'){
            top: 5%;
            right: 0%;   
        }
        .flag{
            position: absolute;
            @include text-rec(70%, 1.5rem, $colorLight, $colorDark, transparent);
            top: 0;
            left: 0; 
            box-shadow: $colorDarker -5px 5px 0px;
        }
        .line-short{
            position: absolute;
            background-color: $colorLight;
            height: 5px;
            width: 30%;
            top: 50%;
            transform: translateY(-50%);
            right: 0; 
        }
        .circle{
            position: absolute;
            background-color: $colorLight;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            right: 0%;         
        }

    }
    }

}


