@import "partials/basic";

.container-home{
    // border: 5px solid red;
    margin: ($headerHeight * 2.2) auto;
	// margin-bottom: ($headerHeight * 4);
	padding: 0;
	width: 80vw;
	box-sizing: border-box;
	@include breakpoint("tablet") {
		width: 90vw;
		padding: 50px;
	}
	@include breakpoint("mobileonly") {
		width: 90vw;
		padding: 30px;
    }
    
    .home01{
        width: 100%;
        height: 1800px;
    }

    .home02, .home03{
        width: 100%;
        position: relative;
        // display: flex;
        .text-wrap{
            width: 100%;
            .slogon{
                display: flex;
                justify-content: center;
                @include breakpoint('mobileonly'){
                    display: block;
                }
                div{
                    transform: translateX(-50%) rotate(-10deg);
                    margin: 10px;
                    display: block;
                    @include breakpoint('mobileonly'){
                        transform: translateX(0%) rotate(-10deg)
                    }
                }
                span{
                    font-size: 50px;
                    font-weight: bold;
                    transform: skew(-10deg);
                    transform: translate(-100px, 0) scale(0);
                    display: inline-block;
                    text-shadow: rgb(100, 26, 29) 1px 1px, rgb(100, 26, 29) 2px 2px, rgb(100, 26, 29) 3px 3px, rgb(100, 26, 29) 4px 4px;
                    color: #cbab9e;
                }
                &.animate{
                    span{
                        opacity: 0;
                        animation: textAnimate .5s forwards;
                        }
                    span:nth-of-type(2) {
                        animation-delay: .1s;
                    }
                    span:nth-of-type(3) {
                        animation-delay: .2s;
                    }
                    span:nth-of-type(4) {
                        animation-delay: .3s;
                    }
                    span:nth-of-type(5) {
                        animation-delay: .4s;
                    }
                }

            }
            .content{
                margin: 50px auto;
                p{
                    @include paragraph($colorLight);
                    font-size: 1.2rem;
                    font-weight: 500;
                    line-height: 1.2rem;
                    text-align: center;
                    @include breakpoint('mobileonly'){
                        text-align: initial;
                        line-height: 2rem;
                    }
                }
                @include breakpoint('tablet'){
                    margin: 120px auto 0 auto;
                    padding: 20px;
                }
            }
        }
        .home02-screen-wrap{
            overflow: hidden;
            width: 50vw;
            height: 30vw;
            position: relative;
            perspective-origin: center center;
            perspective: 500px;
            @include breakpoint('tablet'){
                width: 80vw;
                height: 50vw;
                margin: 0 auto;
            }
            .bg-image{
                // overflow: hidden;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter:brightness(20%);
                position: absolute;
                transform-style: 3d;
                display: flex;
                img{
                    width: 100%;
                }
            }
            .inside{
                overflow: hidden;
                transform: rotateX(-18deg) rotateY(14deg);
                position: relative;
                width: 120%;
                height: 100%;
                // transform-style: 3d;
                .image{
                    // border: 2px solid yellow;
                    position: absolute;
                    width: 60%;
                    height: 60%;
                    left: 15%;
                    top: 18%;
                }
                .slide{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    display: flex;
                    object-fit: cover;
                    filter:brightness(70%);
                    // overflow: hidden;
                    animation: slideMoveDesktop 30s linear infinite forwards;
                    @include breakpoint('tablet'){
                        animation: slideMoveTablet 28s linear infinite forwards;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .title-wrap, .quote-wrap{
                    width: 20vw;
                    height: 6vh;
                    // border: 2px solid red;
                    position: absolute;
                    top: 10%;
                    left: 5%;
                    overflow: hidden;
                    .inner{
                        display:flex;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        animation: titleMove 3s infinite;
                        // animation-delay: 2s;
                        // border: 2px solid red;
                        .title, .quote{
                            width: 20vw;
                            height: 6vh;
                            text-align: center;
                            font-size: 1.5rem;
                            line-height: 3rem;
                            opacity: .8;
                            &.bg-1{
                                background-color: $colorLight;
                            }
                            &.bg-2{
                                background-color:$colorMedium;
                            }
                            color: $colorDarker;
                        }

                    }
                }
                .quote-wrap{
                    width: 60vw;
                    height: 8vh;
                    position: absolute;
                    top: 75%;
                    left: 10%;
                    .inner{
                        animation: quoteMove 3s infinite;
                        // animation-delay: 2.5s;
                        .quote{
                            &.bg-1{
                                background-color: $colorDarker;
                            }
                            &.bg-2{
                                background-color:$colorMedium;
                            }
                            color: $colorLight;
                        }  
                    }
                    .inner .quote{
                        width: 60vw;
                        height: 8vh;  
                    }
                }

            }
        }
        .poster-wrap{
            // border: 2px solid blue;
            position: absolute;
            right: 4%;
            bottom: 0;
            width: 24vw;
            height: 30vw;
            display: flex;
            flex-wrap: wrap;
            filter: grayscale(50%);
            &:hover{
               filter: grayscale(100%); 
            }
            img{
                width: 33.33%;
                height: 33.33%;
                display: block;
                border: 3px solid transparent;
                box-sizing: border-box;
            }
            @include breakpoint('tablet'){
                display: none;
            }
        }
        .poster-more{
            position: absolute;
            right: 4%;
            bottom: 0;
            width: 24vw;
            height: 30vw;
            background-color: transparent;
            // cursor: pointer;
            @include breakpoint('tablet'){
                width: 100%;
                right: 0;
                position: initial;
            }
            a{
                @include text-rec(90%, 1.5rem, $colorLight, $colorDark, transparent);
                display: block;
                margin: 250px auto;
                opacity: 0;
                &:link, &:visited{
                    color:$colorDark;
                }
                @include breakpoint('tablet'){
                    opacity: 1;
                    width: 80%;
                    margin: 30px auto;
                }
            }
            &:hover{
                background-color: rgba(100, 26, 29, .6);
                a{
                    opacity: 1;
                }
            }

        }
    }

    .home03{
        padding-top: 150px;
        overflow: hidden;
        // height: 500vh;
        .cube-wrap{
            perspective-origin: center center;
            perspective: 5000px;
            position: absolute;
            right: 50%;
            // transform: translateX(-50%);
            .cube{
                transform-style: preserve-3d;
                width: 100px;
                height: 100px;
                .side{
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    box-sizing: border-box;
                    border: 2px solid $colorDarker;
                    opacity: .6;
                    font-size: 3rem;
                    text-align: center;
                    line-height: 6rem;
                    color: $colorDarker;
                }
                .front{
                    background-color:$colorLight;
                    transform: rotate3d(0 ,0 ,0, 0deg) translateZ(50px);
                }
                .back{
                    background-color: $colorLight;
                    transform: rotate3d(0 ,0 ,0, 0deg) translateZ(-50px);
                }
                .right{
                    background-color: $colorMedium;
                    transform: rotate3d(0 ,1 ,0, -90deg) translateZ(-50px);
                }
                .left{
                    background-color: $colorMedium;
                    transform: rotate3d(0 ,1 ,0, 90deg) translateZ(-50px);
                }
                .top{
                    background-color: $colorDark;
                    transform: rotate3d(1 ,0 ,0, -90deg) translateZ(-50px);
                }
                .bottom{
                    background-color: $colorDark;
                    transform: rotate3d(1 ,0 ,0, 90deg) translateZ(-50px);
                }
            }
        }
        .cf-wrap{
            // border: 2px solid blue;
            position: relative;
            perspective-origin: center center;
            perspective: 500px;
        }
        .cf-button{
            a{
                @include text-rec(30%, 1.5rem, $colorLight, $colorDarker, transparent);
                display: block;
                margin: 0 auto;
                opacity: 0;
                &.animate{
                    animation: cf-button-show 1s forwards;
                    animation-delay: 5s;
                }
                &:link, &:visited{
                    color: $colorDarker;
                }
            }
        }
        .cf-circle{
            // width: 100%;
            height: 30vw;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            
        }
        .cf-circle-01{
            position: relative;
            z-index: 2;
            margin: 100px auto;
            transform: rotate3d(1 ,0 ,0, 360deg);
            // border: 2px solid orange;
            .cf-poster{
                display: flex;
                // width: 90%;
                // margin: 0 auto;
            }
        }

        .cf-poster{
            display: flex;
            justify-content: space-evenly;
            height: 55%;
            opacity: 0;
            // border: 2px solid yellowgreen;
            position: absolute;
            left: 50%;
            // top: -2%;
            transform: translateX(-50%);
            filter: grayscale(50%);
            &.animate{
                animation: cf-button-show 1s forwards;
                animation-delay: 5s;
            }
            a{
                width: 13%;
                height: 90%;
                display: block;
                object-fit: cover;
                border: 5px solid $colorDark;
                
                img{
                    width: 100%;
                    height: 100%;
                    box-shadow: 3px 3px 5px $colorDarker;
                }
            }
            .cf-bg{
                width: 14.2%;
                height: 90%;
                background-color: $colorDarker;
                border: 5px solid $colorDark;
            }
        }
        .cf-circle-03{
            position: absolute;
            // top: 150px;
            // border: 2px solid yellow;
            z-index: 1;
            // transform-style: preserve-3d;
            
            transform: rotate3d(1 ,0 ,0, 340deg);
            .cf-poster{
                width: 100vw;
                // height: 100%;
                
                filter: grayscale(0%);
            }
        }
    }
}

@keyframes cf-button-show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes cubeRotate {
            from {
                transform: rotate3d(0, 1, 1, 30deg) translateX(0);
            } 
            to {
                transform: rotate3d(0, 1, 1, 680deg) translateX(0px);
            }
        }
@keyframes cubeExpandFront {
            from {
                transform: rotate3d(1 ,0 ,0, 180deg) translateZ(-50px);
            } 
            to {
                transform: rotate3d(1 ,0 ,0, 180deg) translateZ(-3550px);
            }
        }
@keyframes cubeExpandBack {
            from {
                transform: rotate3d(0 ,0 ,0, 0deg) translateZ(-50px);
            } 
            to {
                transform: rotate3d(0 ,0 ,0, 0deg) translateZ(-3550px);
            }
        }
@keyframes cubeExpandRight {
            from {
                transform: rotate3d(0 ,1 ,0, -90deg) translateZ(-50px);
            } 
            to {
                transform: rotate3d(0 ,1 ,0, -90deg) translateZ(-2600px);
            }
        }
@keyframes cubeExpandLeft {
            from {
                transform: rotate3d(0 ,1 ,0, 90deg) translateZ(-50px);
            } 
            to {
                transform: rotate3d(0 ,1 ,0, 90deg) translateZ(-2600px);
            }
        }
@keyframes cubeExpandTop {
            from {
                transform: rotate3d(1 ,0 ,0, -90deg) translateZ(-50px);
            } 
            to {
                transform: rotate3d(1 ,0 ,0, -90deg) translateZ(-2600px);
            }
        }
@keyframes cubeExpandBottom {
            from {
                transform: rotate3d(1 ,0 ,0, 90deg) translateZ(-50px);
            } 
            to {
                transform: rotate3d(1 ,0 ,0, 90deg) translateZ(-2600px);
            }
        }

        .cube.animate {
            animation-name: cubeRotate;
            animation-duration: 4s;
            // animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-fill-mode: forwards;
        }
        .front.animate{
            animation: cubeExpandFront 1s forwards;
            animation-delay: 4.5s;            
        }
        .back.animate{
            animation: cubeExpandBack 1s forwards;
            animation-delay: 4.5s;
        }
        .top.animate{
            animation: cubeExpandTop 1s forwards;
            animation-delay: 4.5s;
        }
        .bottom.animate{
            animation: cubeExpandBottom 1s forwards;
            animation-delay: 4.5s;
        }
        .right.animate{
            animation: cubeExpandRight 1s forwards;
            animation-delay: 4.5s;
        }
        .left.animate{
            animation: cubeExpandLeft 1s forwards;
            animation-delay: 4.5s;
        }

@keyframes textAnimate {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #cbab9e;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #cbab9e;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: #e3e0d9;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #e3e0d9;
	}
}

@keyframes slideMoveDesktop{
    from{
        left: 0;
    }
    to{
        left: -360vw;
    }
}

@keyframes slideMoveTablet{
    from{
        left: 0;
    }
    to{
        left: -750vw;
    }
}

@keyframes titleMove {
  10% {
    left: 0px;
  }
  20% {
    left: 0px;
  }
  40% {
    left: -1000px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@keyframes quoteMove {
  10% {
    left: 0px;
  }
  20% {
    left: 0px;
  }
  40% {
    left: -1500px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

