@import "partials/basic";

.container{
    border: 5px solid red;
    padding: 0;
    .home01{
        width: 100%;
        height: 1800px;
    }

    .home02{
        width: 100%;
        // display: flex;
        .text-wrap{
            width: 100%;
            .title{
                display: flex;
                justify-content: center;
                @include breakpoint('mobileonly'){
                    display: block;
                }
                div{
                    transform: translateX(-50%) rotate(-10deg);
                    margin: 10px;
                    display: block;
                    @include breakpoint('mobileonly'){
                        transform: translateX(0%) rotate(-10deg)
                    }
                }
                span{
                    font-size: 50px;
                    font-weight: bold;
                    transform: skew(-10deg);
                    transform: translate(-100px, 0) scale(0);
                    display: inline-block;
                    text-shadow: rgb(100, 26, 29) 1px 1px, rgb(100, 26, 29) 2px 2px, rgb(100, 26, 29) 3px 3px, rgb(100, 26, 29) 4px 4px;
                    color: #cbab9e;
                }
                &.animate{
                    span{
                        opacity: 0;
                        animation: textAnimate .5s forwards;
                        }
                    span:nth-of-type(2) {
                        animation-delay: .1s;
                    }
                    span:nth-of-type(3) {
                        animation-delay: .2s;
                    }
                    span:nth-of-type(4) {
                        animation-delay: .3s;
                    }
                    span:nth-of-type(5) {
                        animation-delay: .4s;
                    }
                }

            }
            .content{
                margin: 50px auto;
                p{
                    @include paragraph($colorLight);
                    font-size: 1.2rem;
                    font-weight: 500;
                    line-height: 1.2rem;
                    text-align: center;
                    @include breakpoint('mobileonly'){
                        text-align: initial;
                    }
                }
            }
        }
        .home02-screen-wrap{
            overflow: hidden;
            width: 50vw;
            height: 30vw;
            position: relative;
            perspective-origin: center center;
            perspective: 500px;
            @include breakpoint('tablet'){
                width: 85vw;
                height: 50vw;
                margin: 0 auto;
            }
            .bg-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter:brightness(20%);
                position: absolute;
                transform-style: 3d;
                display: flex;
                img{
                    width: 100%;
                }
            }
            .inside{
                transform: rotateX(-18deg) rotateY(14deg);
                position: relative;
                width: 100%;
                height: 100%;
                // transform-style: 3d;
                .image{
                    // border: 2px solid yellow;
                    position: absolute;
                    width: 76%;
                    height: 80%;
                    left: 15%;
                    top: 18%;
                }
                .slide{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    display: flex;
                    object-fit: cover;
                    // overflow: hidden;
                    animation: slideMoveDesktop 15s linear infinite forwards;
                    @include breakpoint('tablet'){
                        animation: slideMoveTablet 15s linear infinite forwards;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .title-wrap, .quote-wrap{
                    width: 20vw;
                    height: 6vh;
                    // border: 2px solid red;
                    position: absolute;
                    top: 10%;
                    left: 5%;
                    overflow: hidden;
                    .inner{
                        display:flex;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        animation: titleQuoteMove 1.5s;
                        animation-delay: 2s;
                        border: 2px solid red;
                        .title, .quote{
                            width: 20vw;
                            height: 6vh;
                            text-align: center;
                            font-size: 2rem;
                            line-height: 4rem;
                            font-family: 'arial';
                            &.bg-1{
                                background-color: yellow;
                            }
                            &.bg-2{
                                background-color: blue;
                            }
                        }

                    }
                }
                .quote-wrap{
                    width: 40vw;
                    height: 8vh;
                    position: absolute;
                    top: 75%;
                    left: 50%;
                    .inner .quote{
                        width: 40vw;
                        height: 8vh;  
                    }
                }

            }
            }
    }
}

@keyframes textAnimate {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #cbab9e;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #cbab9e;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: #e3e0d9;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #e3e0d9;
	}
}

@keyframes slideMoveDesktop{
    from{
        left: 0;
    }
    to{
        left: -190vw;
    }
}

@keyframes slideMoveTablet{
    from{
        left: 0;
    }
    to{
        left: -304vw;
    }
}

@keyframes titleQuoteMove {
  50% {
    left: -600px;
  }
  100% {
    left: 0px;
  }
}

