@import "partials/basic";


.container-info{
    width: 80vw;
    margin: 220px  auto;
    padding: 100px ;


    .pics_box{
        display:flex;
        flex-direction: row ;
        position: sticky;
        top:100px;
        z-index: 5;
        border-bottom: 5px solid $colorDark ;
        // border: 3px solid orchid;
        
        @include breakpoint("mobileonly"){
            border-top: 5px solid $colorDark ;
        }


        .tcff_btns{
            margin: 0 36% ;
            width:  100% ;
            background-color: $colorDark ;
            font-size: 20px ;
            color: $colorLight;
            margin-bottom: 20px;
            box-sizing: border-box;
            display: block;

            @include breakpoint("tablet"){
                margin: 0 25% ;
            }
            @include breakpoint("mobileonly"){
                margin: 0 auto;
                padding-right: 2px ;
                font-size: 16px ;
                border-right: 2px solid $colorLight ;
            }
        }

        .tcff_btn_brd{
            border-right: 2px solid transparent ;
        }
    }

    .pics_box2{
        display:flex;
        flex-direction: row ;
        position: sticky;
        top:100px;
        z-index: 1;
        @include breakpoint("mobileonly"){
            display:flex;
            flex-direction: column ;
        }
    }

    .up_pic{
        max-height:300px ;
        width: 100%;
        box-sizing: border-box ;
        background-color: $colorDark ;
        margin: 0 auto ;
    }

    .up_in_pic{
        // width: 80%;
        width: 50%;
        // margin: 0 auto ;
        margin: 20px auto;
    }

    .up_pic .up_in_pic{
        @include breakpoint("mobileonly"){
            display: none;
        }
    }

    .up_in_pic_info{
        padding: 10% 0 0 0;
        // width: 80%;
        width: 50%;
    }

    // 關於
    .tcff_about{
        position: relative ;
    }
    // 場地
    .tcff_place{
        position: relative;

        .place_pic{
            width: 50%;
            margin: 0 auto ;
            padding: 50px 20px;
            overflow: hidden;
            z-index: 1 ;
            @include breakpoint("tablet"){
                width: 100%;
                padding: 0;
            }

        }

        .place_title{
            margin: 20px auto ;
            @include text-rec(80%, 1.5rem, transparent, $colorDarker, $colorDarker);
        }

        .place_info{
            display: flex ;
            flex-direction: column ;
            width: 100% ;
            margin: 0 auto ;
            font-size: 18px ;
            line-height: 50px ;

            @include breakpoint("tablet"){
                padding-left: 10px ;
            }
        }

        .place_map{
            width: 50%;
            @include breakpoint("tablet"){
                padding: 0 10%;
            }

        }
    }
    // 售票
    .tcff_ticket{
        position: relative;

        .ticket_title{
            margin: 20px auto ;
            @include text-rec(80%, 1.5rem, transparent, $colorDarker, $colorDarker);
        }

        .tcff_ticket_worring{
            font-weight: bold ;
            text-decoration: underline ;
            text-align: center ;
        }

        .tcff_ticket_word{
            display: flex ;
            flex-direction: column ;
            margin: 10px auto ;
        }

        .tcff_ticket_bigword{
            font-size: 24px ;
            font-weight: bold ;
        }

        .bold{
            font-weight: bold;
            text-decoration: underline ;
        }
    }
    // QA
    .tcff_ticket_qa{

        .tcff_ticket_qa_up{
            display: flex ;
            flex-direction: row ;
            width: 80%;
            padding: 0 10% ;
        }

        .ticket_qa_btn{
            color: $colorDarker ;
            text-align: center ;
            color: $colorLight ;
            width: 100% ;
            margin-right: 10px; 
            background-color: $colorDark;
        }

        .ticket_qa_title{
            font-weight:bold ;
        }

        .ticket_title{
            margin: 20px auto ;
            @include text-rec(80%, 1.5rem, transparent, $colorDarker, $colorDarker);
        }
    }

    // 裡面大標
    .info_title{
        margin: 20px auto ;
        @include text-rec(100%, 1.5rem, $colorLight, $colorDarker, transparent);
    }
    //下面外框
    .word{
        width: 100%;
        padding: 20px 50px ;
        background-color:   $colorMedium ;
        box-sizing: border-box ;
        @include paragraph($colorDarker);
    }


}
