@import "partials/basic";

.container{
    background-color: $colorMedium;
    .title{
    @include text-rec(100%, 1.5rem, $colorLight, $colorDarker, transparent);
    }
    .about{
    @include paragraph($colorDarker);
    margin-top: 100px;
    }
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 350px;
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 50px;
}
.card p{
    padding-top: 10px;
}
.post{
    width: 200px;

}
.system{
    transition: .5s;
    width: 100px;
    color: #cbab9e;
    background-color: #602926;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
a{
    text-decoration: none;
}
a:hover .system{
    color: #602926;
    background-color: #cbab9e;
    border: 1px solid #602926;
}