@import "partials/basic";

.container-member{
    width: 38%;
    height: 800px;
    // background-color:$colorLight ;
    padding: 10px 0 ;
    position: relative ;
    margin: -8% auto;
    // overflow: hidden;

.place{
    width: 45vh;
    height:600px ;
    top:  50% ;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;


     @include breakpoint("tablet"){
                width: 40vh;
                left: 60% ;
                top:30%;
     }
      @include breakpoint("mobileonly"){
                width: 40vh;
                height: 600px;
                top: 40% ;
                left: 50% ;
     }

}

.place_b{
    width: 45vh;
    height:600px ;
    top: 50% ;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;


     @include breakpoint("tablet"){
                width: 40vh;
     }
      @include breakpoint("mobileonly"){
                width: 40vh;
                height: 600px;
                top: 48% ;
     }

}

.display{
    display: none ;
}



.mouse{ 
    cursor: pointer; 
}

//-----------**animate設定**-----------
.slide_f_animate{
    animation-name: slide_f;
    // animation-name: none;
    animation-delay: .1s ;
    animation-timing-function: ease-in ;
    animation-duration: 1s ;
    animation-fill-mode: forwards;

    @include breakpoint("mobileonly"){
        animation-name: none;

    }
}

@keyframes slide_f{
    0%{
        top: 50% ;
        left:50% ; 
    }

    100%{
        left: 40% ;
        top: 55% ;
    }
}
//-----------**************-----------

//-----------**Flip設定**-----------
    .turn{
        transform-style: preserve-3d;
        transition:1s all ;
        // background: #57abff ;
        position: relative;
    }

    .turn.flip{
        transform: translateX(-70%) translateY(-50%) rotateY(180deg) ;
        @include breakpoint("mobileonly"){
            transform: translateX(-50%) translateY(-50%) rotateY(180deg) ;
        }
    }

    .front , .back{
        // backface-visibility: hidden; 
    }

    .back_r{
        backface-visibility: hidden;
        @include breakpoint("tablet"){
            backface-visibility: hidden;
        }    
    }

    .sign_up_flip{
        transform: rotateY( 180deg ) translateX(100%) translateY(-80%) ;
        @include breakpoint("tablet"){
            transform: rotateY( 180deg ) translateX(63%) translateY(-50%) ; 
            background-color:transparent ;   
        }
        @include breakpoint("mobileonly"){
            transform: rotateY( 180deg )translateX(50%) translateY(-50%) ; 
            background-color:transparent ;   
        }
    }

    .sign_up_down_flip{
        transform: rotateY( -180deg ) translateX(0%) translateY(-80%) ;
    }

//-----------**************-----------


    // --------------**會員登入**--------------*
    .login_f{
        position: absolute ;
        background-color: $colorLight ; 

        transform-style: preserve-3d;
        transition:1s all ;
        // z-index: 2;

            .login_word{
                margin: 0 auto ;
                padding: 20px 0 10px 0 ;
                height: 50px ;           
                @include text-rec(80% , 24px , none , $colorDark ,transparent) ;
                border-bottom: 3px solid $colorDark ;
                font-weight: bold ;
            }
            .account_box{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px ;
            }
            .account_1{
                width: 80%;
                height: 35px;
                margin:  0;
                @include text-rec(30% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
            }
            .account_2{
                height: 25px;
                width: 80%;
                // margin: 55px auto 0;
                border: 2px solid $colorMedium ;
            }
            .password_box{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px  ;                
            }

            .pass{
                padding: 20px 50px 0 10px  ;
            }

            .password_1{
                width: 80%;
                height: 35px;
                margin:  0;
                @include text-rec(30% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
                // background-color: aliceblue ;
            }
            .password_2{
                height: 25px;
                width: 80%;
                // margin: 55px auto 0;
                border: 2px solid $colorMedium ;
            }
            .login_btn{
                // width: 100px;
                height: 30px;
                margin: 50px 35% ;
                padding:0 0 30px 0;
                @include text-rec(30% , 18px , $colorDark , $colorLight ,transparent) ;   
                @include breakpoint("mobileonly"){
                    @include text-rec(200px , 18px , $colorDark , $colorLight ,transparent) ;
                    margin: 50px 25% ;
                }             
            }
            .btn_box{
                display: flex ;
                flex-direction:row ;
                justify-content: center ;
                padding: 30px 0 ;
                @include breakpoint("mobileonly"){
                    flex-direction:column ;
                    padding: 0 ;
                 }

            }

            .worring_box_l{
                margin: -10px -50px 30px -50px;
                height: 24px;
                width: 100%;
                // overflow: hidden ;
            }

            .worring_l{
                @include text-rec(none , 12px , transparent , red ,transparent) ;
                text-align: right ;
                // display: none ;                
            }

            .registered{
                margin: 0 20px 0 20px  ;
                box-sizing: border-box;
                @include text-rec(100px , 18px , transparent , $colorDark ,$colorDark) ;
                @include breakpoint("mobileonly"){
                    @include text-rec(200px , 18px , transparent , $colorDark ,$colorDark) ;
                    margin: 5px 25% ;
                 }
            }
    }


    // --------------**忘記密碼**--------------*

    .login_f_p{
        position: absolute ;
        background-color: $colorLight ; 
        // transform: rotateY(180deg);
        transform: translateX(-50%) translateY(-50%) rotateY(180deg) ;
        z-index: 1;
        // display: none ;



            .login_word_p{
                margin: 0 auto ;
                padding: 20px 0 10px 0 ;
                height: 50px ;           
                @include text-rec(80% , 24px , none , $colorDark ,transparent) ;
                border-bottom: 3px solid $colorDark ;
                font-weight: bold ;
            }
            .account_box_p{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px ;
            }
            .account_1_p{
                height: 35px;
                margin: 35px 0;
                @include text-rec(50% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
            }
            .account_2_p{
                height: 25px;
                width: 80%;
                margin: 40px 0;
                border: 2px solid $colorMedium ;
            }
            .password_box_p{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px  ;
            }
            .password_1_p{
                width: 80%;
                height: 35px;
                margin:  0;
                @include text-rec(30% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
            }
            .password_2_p{
                height: 25px;
                width: 80%;
                // margin: 55px auto 0;
                border: 2px solid $colorMedium ;
            }
            .login_btn_p{
            //    width: 100px;
               height: 30px;
               margin: 50px 35% ;
               padding:0 0 30px 0;
               @include text-rec(30% , 18px , $colorDark , $colorLight ,transparent) ;
               @include breakpoint("mobileonly"){
                    @include text-rec(200px , 18px , $colorDark , $colorLight ,transparent) ;
                     margin: 50px 25% ;
                     width: 50%  ;
                }    
            }

            .btn_box_p{
                display: flex ;
                flex-direction: row ;
                justify-content: center ;
                // margin: 30px 0 ;
                @include breakpoint("mobileonly"){
                    flex-direction:column ;
                    padding: 0 ;
                 }
            }
            .registered_p{
                margin: 0 20px 0 20px  ;
                @include text-rec(100px , 18px , transparent , $colorDark ,$colorDark) ;
                @include breakpoint("mobileonly"){
                    @include text-rec(200px , 18px , transparent , $colorDark ,$colorDark) ;
                    margin: 5px 25% ;
                    width: 50%;
                 }
            }
            .word_m{
                padding: 0 50% 0 25% ;
                @include text-rec(80% , 12px , transparent , $colorDark ,transparent) ;
            }

            .worring_box_p{
                margin: -30px -50px 30px -50px;
                height: 24px;
                width: 100%;
                // overflow: hidden ;
            }
            .worring_p{
                @include text-rec(none , 12px , transparent , red ,transparent) ;
                text-align: right ;
                // display: none ;                
            }
    }

    
    //-----------**背面動畫**-----------
    .back_animate{
        animation-name: slide_b;
        // animation-name: none;
        animation-delay: .1s ;
        animation-timing-function: ease-in ;
        animation-duration: 1s ;
        animation-fill-mode: forwards;

        @include breakpoint("tablet"){
            animation-name: none;
            // display: none ;
        }

        @include breakpoint("mobileonly"){
            animation-name: none;
            // display: none ;
        }
    }

    @keyframes slide_b{
        0%{
            top:50% ;
            left:50% ; 
        }
    
        100%{
            left:60% ;
            top: -150px ;
        }
    }
    //-----------**************-----------
    


.turn_b{
    transform-style: preserve-3d;
    transition:1s all ;
    // background: #57abff ;
    // position: absolute;
    // left: 10% ;
    // top:30% ;
}

    //-----------**註冊**-----------
    .registered_f{
        width: 45vh;
        height:600px ;
        top:  50% ;
        left: 50%;
        transform: translateX(-50%) translateY(40%) rotateY(180deg) ;
        // transform: translateX(-50%) translateY(17%);
        position: absolute ;
        background-color: $colorLight; 
        
        @include breakpoint("tablet"){
            width: 40vh;
            left: 44.5%;
            transform: translateX(-50%) translateY(-5%) rotateY(180deg) ;
        }
        @include breakpoint("mobileonly"){
            width: 40vh;
            height: 600px;
            left:49.5% ;
            transform: translateX(-50%) translateY(-6.5%) rotateY(180deg) ;
        }

            .registered_word{
                margin: 0 auto ;
                padding: 20px 0 10px 0 ;
                height: 50px ;           
                @include text-rec(80% , 24px , none , $colorDark ,transparent) ;
                border-bottom: 3px solid $colorDark ;
                font-weight: bold ;
            }
            .account_box_r{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px ;
            }
            .account_r{
                width: 80%;
                height: 35px;
                margin:  0;
                @include text-rec(50% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
                // background-color: aliceblue ;
            }
            .account_r_2{
                height: 25px;
                width: 80%;
                // margin: 55px auto 0;
                border: 2px solid $colorMedium ;
            }
            .password_box_r{
                display: flex ;
                flex-direction: row ;
                padding: 10px 50px 0 10px  ;
            }
            .password_r_1{
                width: 80%;
                height: 35px;
                margin:  0;
                @include text-rec(50% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
                // background-color: aliceblue ;
                .password_mo{
                    @include text-rec(50% , 18px , none , $colorDark ,transparent) ;
                    @include breakpoint("mobileonly"){
                        @include text-rec(50% , 10px , none , $colorDark ,transparent) ;
                    }
                }
            }
            .password_r_2{
                height: 25px;
                width: 80%;
                // margin: 55px auto 0;
                border: 2px solid $colorMedium ;
            }
            .registered_btn{
                width: 100px;
                height: 30px;
                margin: 50px auto ;
                @include text-rec(30% , 18px , $colorDark , $colorLight ,transparent) ;                
                @include breakpoint("mobileonly"){
                    width: 50%;
                }
            }
            .btn_box_r{
                display: flex ;
                flex-direction: row ;
                justify-content: center ;
                padding: 0  ;
            }
            .registered_r{
                margin: 0 20px 0 20px  ;
                @include text-rec(100px , 18px , transparent , $colorDark ,$colorDark) ;
            }
            .word_r{
                padding: 0 10% ;
                @include text-rec(80% , 12px , transparent , $colorDark ,transparent) ;
            }
            .worring_box_r{
                margin: 0 60% ;
                height: 24px;
                width: 100%;
                // overflow: hidden ;
                @include breakpoint("tablet"){
                    overflow: hidden ;
                    margin: 0 ;
                    padding-left: 55% ;
                 }
                @include breakpoint("mobileonly"){
                    overflow: hidden ;
                    margin: 0 ;
                    padding-left: 20% ;
                 } 
            }
            .worring_r{
                @include text-rec(30% , 12px , transparent , red ,transparent) ;
                text-align: right ;
                @include breakpoint("mobileonly"){
                    overflow: hidden ;
                    padding-left: 35% ;
                }
            }
            .display{
                display: none ;
            }
    }


    .login_b{
        background-color: $colorDarker ; 
        position: absolute ;
        top:  50% ;
        left: 50%;
        // transform: translateX(-50%) translateY(17%) rotateY(180deg) ;
        transform: translateX(-50%) translateY(17%);
        // top:400px ;

        
         //-----------**RWD設定**-----------
 
         @include breakpoint("tablet"){
            width: 40vh;
            display: none ;
         }
    
    }

   

}