@import "partials/basic";


.container-membercenter{
    width: 80vw;
    // background-color:#80ffff ;
    margin: 220px  auto;
    padding: 100px ;
    
    .banner_up{
        @include text-rec(100%, 1.5rem, $colorLight, $colorDarker, transparent);
        // width: 100%;
        // background-color: $colorMedium;
        // height: 100px ;
    }

    .them{
        display: flex ;
        flex-direction: row ;
        background-color: $colorMedium;
        margin-top: 2% ;
        @include breakpoint("mobileonly"){
            flex-direction: column ;
        }
        
    }

    .photo{
        flex: 2 ;
        width:60% ;
        // height: 600px;
        border-right: 5px solid $colorDark ;
        border-top: 5px solid $colorDark ;
        @include breakpoint("mobileonly"){
            width:100% ;
            height: auto;
            border-right: none ;
            border-bottom: 2px solid $colorDark ;
        }

        .pic{
            max-width: 60%;
            margin: 10% auto 10% ;
            @include breakpoint("mobileonly"){
                margin: 5% auto  ;
                max-width: 80%;
            }
        }

        .pic_change{
            margin: 0 25% ;
            @include text-rec(50% , 16px, $colorMedium, $colorDark, transparent);    
            line-height: 20px ;
            box-sizing: border-box ;
            height: auto;
            // background-color: $colorMedium ;
        }
    }

    .btns{
        width:100% ;
        // height: 600px;
        // border-right: 5px solid $colorDark ;
        border-top: 5px solid $colorDark ;
        display: flex ;
        flex-direction: column ;
        @include breakpoint("tablet"){
            height: auto;
        }
        @include breakpoint("mobileonly"){
            width:100% ;
            height: auto;
            border-right: none ;
        }

        .box_unclick{
            cursor: pointer; 
            margin: 10px auto;        
            @include text-rec(80% , 18px, $colorLight, $colorDarker, transparent);    
            height: 60px;
            line-height: 60px ;
            @include breakpoint("mobileonly"){
                width: 80%;
                height: 55px;
                background-color: $colorLight ;
                color: $colorDarker;
                margin: 2% auto;
            }
        } 
   
        .box_click{
            cursor: pointer; 
            margin: 10px auto;
            @include text-rec(80% , 18px, $colorDarker, $colorLight, transparent);
            height: 60px;
            line-height: 60px ;
            @include breakpoint("mobileonly"){
                // width: 80%;
                // height: 55px;
                background-color: $colorLight ;
                color: $colorDarker;
                // margin: 2% auto;
            }
        }

        .click_box_change{
            cursor: pointer; 
            margin: 10px auto;
            @include text-rec(80% , 18px, $colorDarker, $colorLight, transparent);
            height: 60px;
            line-height: 60px ;
        }

        .oders_post_down_mobile{
            cursor: pointer; 
            margin: 2% auto;
            @include text-rec(80% , 18px, $colorDarker, $colorLight, transparent);
            height: 55px;
            line-height: 60px ;
        }

    }

    .menu_content{
        background-color: aqua ;
    }

    

    .commit01{
        width:60% ;
        height: 800px;
        background-color: $colorMedium;
        border-top: 5px solid $colorDark ;
        overflow: auto ;

        @include breakpoint("tablet"){
            height: 500px;
        }
        @include breakpoint("mobileonly"){
            display: none ;
        }

        .modify{
            // background-color: aqua ;
            display: flex ;
            flex-direction: row ;
            flex-wrap:wrap ;
            width: 100% ;
            display: flex ;
            flex-direction: column ;
            @media screen and (max-width:1399px){
                flex-direction: column ;
                flex-wrap:nowrap ;
            } 

            .oders{                
                width: 80% ;
                // height: 40% ;
                margin: 2% auto ;               
                background-color: $colorDark;
                text-align: center ;
                font-size: 20px ;
                color: $colorLight ;
                line-height: 220% ;
                @media screen and (max-width:1399px){
                    width: 80% ;
                    // height: 100px ;
                    margin: 2%  auto ;
                    border-top: none;
                } 

            .oders_word{
                margin: 10px auto ;
                text-align: center ;
                font-size: 20px ;
                color: $colorLight ;
                @media screen and (max-width:1399px){
                      display: none ;
                     } 
                }
            }

            .oders_post_box{
                margin:5% auto ;
                width: 100%;
                overflow: auto ;

                .oders_post_box_title {
                    margin:0 auto ;
                    @include text-rec(50% , 18px, transparent, $colorDarker, $colorDarker);
                }

                .oders_word{
                    text-align: center ;
                    font-size: 18px ;
                    color: $colorDark ;
                    line-height: 40px ;
                }

                .oders_post{
                    cursor: pointer; 
                    width: 80% ;
                    height: 50px ;
                    margin: 0 auto ;             
                    border-bottom: 2px solid $colorDark ;  
                    // background-color: $colorDark;
                }

                .oders_post_down , .oders_post_down_mobile{
                    color: $colorLight ;
                    margin: 2px auto ; 
                    width: 80%; 
                    // background-color: $colorMedium ;
                    background-color: rgba($color: #8e5f59, $alpha: 0.7);
                }
            }


        }

        .ticketbox{
            position: absolute ;
            background-color: orange ;
            display: none ;
        }
    }

    .display{
        display: none ;
    }

}
