@import "partials/basic";

.container-member{
    width: 38%;
    height: 800px;
    // background-color:$colorLight ;
    padding: 10px 0 ;
    position: relative ;
    margin: 10% auto;

.place{
    width: 45vh;
    height:600px ;
    top: 50% ;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;


     @include breakpoint("tablet"){
                width: 40vh;
     }
      @include breakpoint("mobileonly"){
                width: 40vh;
                height: 600px;
                top: 48% ;
     }

}

//-----------**animate設定**-----------
.slide_f_animate{
    animation-name: slide_f;
    // animation-name: none;
    animation-delay: .1s ;
    animation-timing-function: ease-in ;
    animation-duration: 1s ;
    animation-fill-mode: forwards;

    @include breakpoint("mobileonly"){
        animation-name: none;

    }
}

@keyframes slide_f{
    0%{
        top: 50% ;
        left:50% ; 
    }

    100%{
        left: 40% ;
        top: 55% ;
    }
}
//-----------**************-----------


.turn{
    transform-style: preserve-3d;
    transition:1s all ;
    // background: #57abff ;
    position: relative;
}

.turn.flip{
    transform: translateX(-70%) translateY(-50%) rotateY(180deg) ;
    @include breakpoint("mobileonly"){
        transform: translateX(-50%) translateY(-50%) rotateY(180deg) ;
    }
}

.front , .back{
    backface-visibility: hidden;
}



    .login_f{
        position: absolute ;
        background-color: $colorLight ; 

        transform-style: preserve-3d;
        transition:1s all ;
        // z-index: 2;

            .login_word{
                margin: 0 auto ;
                padding: 20px 0 10px 0 ;
                height: 50px ;           
                @include text-rec(80% , 24px , none , $colorDark ,transparent) ;
                border-bottom: 3px solid $colorDark ;
                font-weight: bold ;
            }
            .account_box{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px ;
            }
            .account_1{
                width: 80%;
                height: 35px;
                margin:  0;
                @include text-rec(30% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
            }
            .account_2{
                height: 25px;
                width: 80%;
                // margin: 55px auto 0;
                border: 2px solid $colorMedium ;
            }
            .password_box{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px  ;
            }
            .password_1{
                width: 80%;
                height: 35px;
                margin:  0;
                @include text-rec(30% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
                // background-color: aliceblue ;
            }
            .password_2{
                height: 25px;
                width: 80%;
                // margin: 55px auto 0;
                border: 2px solid $colorMedium ;
            }
            .login_btn{
                // width: 100px;
                height: 30px;
                margin: 50px 35% ;
                padding:0 0 30px 0;
                @include text-rec(30% , 18px , $colorDark , $colorLight ,transparent) ;   
                @include breakpoint("mobileonly"){
                    @include text-rec(200px , 18px , $colorDark , $colorLight ,transparent) ;
                    margin: 50px 25% ;
                }             
            }
            .btn_box{
                display: flex ;
                flex-direction:row ;
                justify-content: center ;
                padding: 30px 0 ;
                @include breakpoint("mobileonly"){
                    flex-direction:column ;
                    padding: 0 ;
                 }

            }
            .registered{
                margin: 0 20px 0 20px  ;
                box-sizing: border-box;
                @include text-rec(100px , 18px , transparent , $colorDark ,$colorDark) ;
                @include breakpoint("mobileonly"){
                    @include text-rec(200px , 18px , transparent , $colorDark ,$colorDark) ;
                    margin: 5px 25% ;
                 }
            }
    }


    // --------------**忘記密碼**--------------*

    .login_f_p{
        position: absolute ;
        background-color: #ad9dec ; 
        // transform: rotateY(180deg);
        transform: translateX(-50%) translateY(-50%) rotateY(180deg) ;
        z-index: 1;
        // display: none ;



            .login_word_p{
                margin: 0 auto ;
                padding: 20px 0 10px 0 ;
                height: 50px ;           
                @include text-rec(80% , 24px , none , $colorDark ,transparent) ;
                border-bottom: 3px solid $colorDark ;
                font-weight: bold ;
            }
            .account_box_p{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px ;
            }
            .account_1_p{
                height: 35px;
                margin: 35px 0;
                @include text-rec(50% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
            }
            .account_2_p{
                height: 25px;
                width: 80%;
                margin: 40px 0;
                border: 2px solid $colorMedium ;
            }
            .password_box_p{
                display: flex ;
                flex-direction: row ;
                padding: 50px 50px 0 10px  ;
            }
            .password_1_p{
                width: 80%;
                height: 35px;
                margin:  0;
                @include text-rec(30% , 18px , none , $colorDark ,transparent) ;
                text-align: right ;
            }
            .password_2_p{
                height: 25px;
                width: 80%;
                // margin: 55px auto 0;
                border: 2px solid $colorMedium ;
            }
            .login_btn_p{
            //    width: 100px;
               height: 30px;
               margin: 50px 35% ;
               padding:0 0 30px 0;
               @include text-rec(30% , 18px , $colorDark , $colorLight ,transparent) ;
               @include breakpoint("mobileonly"){
                @include text-rec(200px , 18px , $colorDark , $colorLight ,transparent) ;
                margin: 50px 25% ;
            }    
            }

            .btn_box_p{
                display: flex ;
                flex-direction: row ;
                justify-content: center ;
                // margin: 30px 0 ;
                @include breakpoint("mobileonly"){
                    flex-direction:column ;
                    padding: 0 ;
                 }
            }
            .registered_p{
                margin: 0 20px 0 20px  ;
                @include text-rec(100px , 18px , transparent , $colorDark ,$colorDark) ;
                @include breakpoint("mobileonly"){
                    @include text-rec(200px , 18px , transparent , $colorDark ,$colorDark) ;
                    margin: 5px 25% ;
                 }
            }
            .word_m{
                padding: 0 50% 0 25% ;
                @include text-rec(80% , 12px , transparent , $colorDark ,transparent) ;
            }
    }

    
    //-----------**背面動畫**-----------
    .back_animate{
        animation-name: slide_b;
        animation-delay: .1s ;
        animation-timing-function: ease-in ;
        animation-duration: 1s ;
        animation-fill-mode: forwards;

        @include breakpoint("mobileonly"){
            animation-name: none;
            display: none ;    
        }
    }
    //-----------**************-----------
    
   @keyframes slide_b{
    0%{
        top: 50% ;
        left:50% ; 
    }

    100%{
        left:55% ;
        top: 40% ;
    }
}

    //-----------**註冊**-----------
    .registered_b{
        background-color: $colorDarker ; 
        position: absolute ;

        
         //-----------**RWD設定**-----------
 
         @include breakpoint("tablet"){
            width: 40vh;
         }
    
    }


    .login_b{
        background-color: $colorDarker ; 
        position: absolute ;

        
         //-----------**RWD設定**-----------
 
         @include breakpoint("tablet"){
            width: 40vh;
         }
    
    }

   

}