@import "partials/basic";



body{
    &.overflow-hidden{
        overflow: hidden;
    }
}

header{
    background-color: $colorDarker;
    height: $headerHeight;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 5;
    @include breakpoint('mobileonly'){
        height: $headerHeight*.8;
    }
    .logo{
        opacity: 1;
        background-color: $colorDarker;
        border-radius: 50%;
        width: 12vw;
        height: 12vw;
        box-sizing: border-box;
        position: fixed;
        left: $headerHeight * 0.5;
        top: 0;
        z-index: 2;
        object-fit: cover;
        @include breakpoint('tablet'){
            width: 15vw;
            height: 15vw;
            top: 2vw;
        }
        @include breakpoint('mobileonly'){
            width: 30vw;
            height: 30vw;
        }
        img{
            display: block;
            margin: 2.5vw auto; 
            @include breakpoint('mobileonly'){
                margin: 5vw auto; 
            }
        }
    }
    .nav-text{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: (($headerHeight - ($headerHeight * .5))/2) auto;
        opacity: 1;
        box-sizing: border-box;
        @include breakpoint('tablet'){
            display: none;
        }
        li.nav-text-li{
            @include text-rec(100%, 1.2rem, transparent, $colorDarker, transparent);
            box-sizing: border-box;
            &:hover{
                background-color: $colorMedium;
                
            }
            a{
                font-weight: bold;
                display: block;
                width: 100%;
            }
            a:link, a:visited{
                color: $colorLight;
            }
            a:hover{
                color: $colorDarker;
            }
            .panel{
                // border: 4px solid red;
                box-sizing: border-box;
                opacity: 0;
                display: none;
                a:link, a:visited{
                    color: $colorDark;
                }
                &.active{
                    opacity: 1;
                    background-color: $colorMedium;
                    display: block;
                    li{
                        a{
                            &:hover{
                                background-color: $colorMedium;
                                color: $colorDarker;
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-icon.web{
        display: flex;
        justify-content: space-around;
        height: $headerHeight;
        position: fixed;
        z-index: 101;
        right: $headerHeight * 0.5;
        @include breakpoint('tablet'){
            display: none;
        }
        a{
            width: $headerHeight * .4;
            padding: 0 $headerHeight * .1;
            height: $headerHeight * .5;
            margin: $headerHeight * .25 0;
            display: inline-block;
            text-align: center;
            font-weight: bold;
            line-height: $headerHeight * .5;
            color: $colorLight;
            cursor: pointer;
            &:link, &:visited{
                color: $colorLight;
            }
            .collection-num{
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background-color: #db8f00;
                position: absolute;
                top:52px;
                right: 115px;
                color: $colorDarker;
                font-weight: bold;
                font-size: .8rem;
                line-height: 23px;
                text-align: center;
            }        
        }
        img{
            height: 100%;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        .member-panel{
            display: none;
            position: absolute;
            width: 180px;
            background-color: $colorMedium;
            top: 70px;
            right: 60px;

            a{
                width: 100%;
                box-sizing: border-box;
                font-weight: bold;
                margin: 5px auto;
                color: $colorDark;

                &:link, &:visited{
                    color: $colorDark;
                }
                &:hover{
                    color: $colorDarker;
                }
            }
            &.active{
                display: block;
            }

        }

    }

    .nav-icon.mobile{
        display: none;
        @include breakpoint('tablet'){
            display: block;
            position: fixed;
            z-index: 101;
            bottom: 0;
            background-color: $colorDarker;
            width: 100vw;
            height: $headerHeight;
            padding: 5px 0;
        }
        .icon{
            display: flex;
            justify-content: space-evenly; 
            height: 80%;  
            a{
                width: $headerHeight * .4;
                padding: 0 $headerHeight * .1;
                // height: $headerHeight * .5;
                // margin: $headerHeight * .25 0;
                display: inline-block;         
            }
            img{
                height: 100%;
                width: 100%;
                display: inline-block;
                vertical-align: middle;
            }

            .menu-icon {
                margin: (($headerHeight - ($headerHeight * .6))/2);
                margin-left: 5px;
                margin-right: 10px;
                .line-1,
                .line-2,
                .line-3 {
                background-color:$colorLight;
                }
            }
        }
        .text{
            display: flex;
            justify-content: space-evenly;
        }
        .text li a{
            color: $colorMedium;
        }
    }

    /* --------------------------- menu icon ------------------------------------ */
    .menu-icon {
        width: 35px;
        box-sizing: border-box;
        opacity: 0;
        margin: (($headerHeight - ($headerHeight * .75))/2) ($headerHeight * .1);

        @include breakpoint('tablet'){
            opacity: 1;
        }
        cursor: pointer;
            .line-1,
            .line-2,
            .line-3 {
            height: 3px;
            width: 100%;
            background-color:$colorLight;
            border-radius: 3px;
            }

            .line-1 {
                margin-top: 6px;
                animation: animate-line-1-rev 0.7s ease-in-out;
            }
            .line-2 {
                margin: 6px 0;
                animation: animate-line-2-rev 0.7s ease-in-out;
            }
            .line-3 {
                animation: animate-line-3-rev 0.7s ease-in-out;
            }
        }


        .menu-icon.active .line-1 {
        animation: animate-line-1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
        background-color: $colorLight;
        }
        .menu-icon.active .line-2 {
        animation: animate-line-2 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
        background-color: $colorLight;
        }
        .menu-icon.active .line-3 {
        animation: animate-line-3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
        background-color: $colorLight;
        }
        .no-animation {
        animation: none;
        }

        @keyframes animate-line-1 {
            0% {transform: translate3d(0, 0, 0) rotate(0deg);}
            50% {transform: translate3d(0, 10px, 0) rotate(0);}
            100% {transform: translate3d(0, 10px, 0) rotate(45deg);}
        }
        @keyframes animate-line-2 {
            0% {
                transform: scale(1);
                opacity: 1;
            }
            100% {
                transform: scale(0);
                opacity: 0;
            }
        }
        @keyframes animate-line-3 {
            0% {transform: translate3d(0, 0, 0) rotate(0deg);}
            50% {transform: translate3d(0, -9.5px, 0) rotate(0);}
            100% {transform: translate3d(0, -9.5px, 0) rotate(135deg);}
        }

        @keyframes animate-line-1-rev {
            0% {transform: translate3d(0, 10px, 0) rotate(45deg);}
            50% {transform: translate3d(0, 10px, 0) rotate(0);}
            100% {transform: translate3d(0, 0, 0) rotate(0deg);}
            }
        @keyframes animate-line-2-rev {
            0% {
                transform: scale(0);
                opacity: 0;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
        @keyframes animate-line-3-rev {
            0% {transform: translate3d(0, -10px, 0) rotate(135deg);}
            50% {transform: translate3d(0, -10px, 0) rotate(0);}
            100% {transform: translate3d(0, 0, 0) rotate(0deg);}
        }

    /* -------------------- end of menu icon --------------------------------- */

    &.small-header{
        height: $headerHeight*.6;
        .nav-text{
            // opacity: 0;
            display: none;
        }
        .nav-icon.web .menu-icon, .nav-icon.mobile .menu-icon{
            opacity: 1;
        }
        .member-panel.active{
            top: 45px;
        }

        .menu-icon{
            position: relative;
            z-index: 200;
        }
        .logo{
            border-radius: 0%;
            height: $headerHeight*.6;
            top: 0;
            img{
                height: 90%;
                margin: 2.5% auto; 
            }
        }
        .nav-icon.web a{
            // height: $headerHeight*.6;

            // width: $headerHeight * .4;
            // padding: $headerHeight * .1;
            height: $headerHeight * .3;
            margin: $headerHeight * .15 0;
            display: block;    
            line-height: $headerHeight * .3;        
            .collection-num{
                top:30px;
            }   
        }
    }

    /* --------------------------- menu ------------------------------------ */

    .menu-wrap{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        // opacity: 0;
        display: none;
        z-index: 100;
        position: absolute;
        &.active{
            // opacity: 1;
            display: block;
        }
    }
    .menu-bg{
        position: absolute;
        // z-index: 99;
        top:0;
        left: 0;
        transform: rotate(40deg);
        transform-origin: center;
        // overflow: hidden;
        width: 200vw;
        height: 200vh;
        box-sizing: border-box;
        &.transition{
            transition: all 1s;
        }

        &-row1, &-row2, &-row3{
            position: absolute;
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            box-sizing: border-box;
            &.transition{
                transition: all 1s;
            }
            figure{
                height: 90vh;
                @include breakpoint('mobileonly'){
                    height: 50vh;
                }
                object-fit: cover;
                img{
                    height: 100%;
                }
            }
        }
        &-row1{
            top: -10vh;
            left: -600vh;
            @include breakpoint('mobileonly'){
                top: -10vh;
                left: -600vh;
            }
        }
        &-row2{
            top: 90vh;
            left: -160vh;
            @include breakpoint('mobileonly'){
                top: 45vh;
                left: -160vh;
            }
        }
        &-row3{
            top: 190vh;
            left: -700vh;
            @include breakpoint('mobileonly'){
                top: 100vh;
                left: -700vh;
            }
        }
    }

    .menu{
        width: 100vw;
        height: 100vh;
        background-color: $colorDarker;
        opacity: .9;
        padding: 20vh 0;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        @include breakpoint('tablet'){
            padding: 2vh 0;
        }
    }
    .menu-btn{
        @include breakpoint('tablet'){
            width: 100vw;
        }
        li{
            display: flex;
            @include breakpoint('tablet'){
                width: 100%;
                display: block;
            }
            &.active{
                a{
                    color: $colorLight;
                    }
                }
            a{
                @include text-rec(100%, 2rem, $colorDark, $colorMedium, transparent);
                width: 25vw;
                display: block;
                margin: 20px 0;
                margin-bottom:0; 
                font-size: bold;
                cursor: pointer;
                font-weight: 500;
                position: relative;
                z-index: 250;
                @include breakpoint('tablet'){
                    @include text-rec(100%, 1.5rem, $colorDark, $colorMedium, transparent);
                }
                }
        }
        .panel{
            display: flex;
            position: absolute;
            left: -2000px;
            z-index: 200;
            &.transition{
                transition: all .5s;
            }
            &.active{
                left: 25vw;
            }
            li{
                width: 15vw;
                a{
                    background-color: $colorLight;
                    color: $colorDark;
                    font-weight: 500;
                    margin-right: 3px;
                    &:visited, &:link{
                        background-color: $colorLight;
                        color: $colorDark;
                    }
                    &:hover{
                        color: $colorDarker;
                        background-color: $colorMedium;
                        }
                    }
            }
            @include breakpoint('tablet'){
                display: block;
                position: initial;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                li{
                    margin-bottom: 2px;
                    a{
                        width: 100vw;
                        margin: 0;
                        }
                    }
                }
            }
    }
}

/* --------------------------- footer ------------------------------------ */

footer{
    background-color: $colorMedium;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: .8rem;
    margin-bottom: 0;
    // position: absolute;
    // bottom: 0;
    @include breakpoint("desktop"){
        // position: absolute;
        // bottom: 0;
    }
    @include breakpoint("tablet"){
        display: block;
        // position: absolute;
        // bottom: 0;
        margin-bottom: $headerHeight;
        padding-top: 15px;
    }

    .footer-group{
       display: flex; 
       margin: 15px;
       padding-bottom: 15px;
       justify-content: center;
       &.contact, &.superviser{
            @include breakpoint('tablet'){
                    display: block;
            }
       }
       .title{
           color: $colorDarker;
           text-align: justify;
           line-height: 1.6rem;
           margin: 15px;

       }
       .content{
           color: $colorDark;
            @include breakpoint('tablet'){
                    padding: 0;
            }
       }
       .fab, .fas, svg{
            color: $colorDarker;
            font-size: 2rem;
            margin: 10px;
            @include breakpoint('tablet'){
                font-size: 1.5rem;
            }
       }
    }
    ul{
       margin: 15px; 
        padding: 0 30px ;
        border-right: 2px solid $colorLight;
        @include breakpoint("tablet"){
            border-right: 2px solid transparent;
        }
       li{
           line-height: 1.6rem;
       }
    }

}

/* --------------------------- fast-ticket ------------------------------------ */

.fast-ticket{
    transform: rotate(-30deg);
    width: $headerHeight*1.5;
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 120px;
    cursor: pointer;
    display: block;
    @include breakpoint("mobileonly") {
        display: none;
    }
    img{
        width: 100%;
    }
}

/* --------------------------- bread-crumb ------------------------------------ */

.bread-crumb{
    margin: 0 auto;
	width: 70vw;
    // position: fixed;
    margin-top: $headerHeight*1.5;
    // margin-left: $headerHeight*1.5;
    display: flex;
    div{
        
        height: 40px;
        background-color: $colorLight;
        color: $colorDarker;
        margin-left: -30px;
        font-size: 1rem;
        line-height: 2.5rem;
        img{
            width: 15%;
            margin: 8px;
        }
    }
    .home{
        width: 150px;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 48%, 0% 0%);
        text-align: center;
    }
    .bread-crumb-others{
        width: 150px;
        -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        text-align: center;
    }
}



