@import "partials/basic";

.container-time{
	margin: ($headerHeight * 2.2) auto;
	// margin-bottom: ($headerHeight * 4);
	padding: 100px;
	width: 80vw;
	box-sizing: border-box;
	@include breakpoint("tablet") {
		width: 90vw;
		padding: 50px;
	}
	@include breakpoint("mobileonly") {
		width: 90vw;
		padding: 30px;
    }
    .time-wrap{
        // border: 2px solid blue;
        width: 100%;
        display: flex;
            .cell{
                display: block;
                @include text-rec(100%, 1.1rem, transparent, $colorLight, transparent);
                text-align: left;
                border: none;
                border-bottom: 2px solid $colorLight;
                line-height: 2.2rem;
                padding: 10px;
                font-weight: bold;
                // box-sizing: border-box;

                &:link, &:visited{
                    color: $colorLight;
                }
                &.heading{
                    background-color: $colorMedium;
                    color: $colorDarker;
                    font-weight: bold;
                    text-align: center;
                    font-size: 1.5rem;
                    border: 2px solid transparent;
                    &.border{
                        border-right: 2px solid $colorDark;
                    }
                }
            }

        .col1{
            width: 20%;
        }
        .col2, .col3{
            width: 40%;
        }   
    }
}
.time-switch{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $colorDarker;
    text-align: center;
    line-height: 100px;
    font-size: 1.2rem;
    position: fixed;
    right: 5vw;
    top: 10vw;
    &:link, &:visited{
        color: $colorLight;
    }
    &:hover{
        background-color: $colorLight;
        color: $colorDarker;
    }
}
