@import "../../sass/partials/basic";

.myfilmPage{
    // filter: blur(5px);
    // overflow: auto;
    margin: 180px auto 0;
    box-sizing: border-box;
    max-width: 1600px;
    padding: 5%;
    // height: 100%;
    .progressBar{
        margin: 50px auto;
        // background-color: #ccc;
        display: flex;
        @include breakpoint("mobileonly") {
            flex-wrap: wrap;
        }
        &>a{
            // padding-left: 10px;
            // height: 45px;
            // line-height: 45px;
            font-weight: 900;
            padding: 12px 0;
            color: $colorDark;
            flex:1;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // border: 2px solid lightblue;
            background-color: $colorLight;
            @include breakpoint("mobileonly") {
                width: 100%;
                flex: none;
            }
            span{
                // margin-left: 5px;
                text-align: center;
                &:first-child{
                    border-bottom: 2px solid $colorDark;
                    padding-bottom: 3px;
                }
                &:nth-child(2){
                    // margin-top: 10px;
                    padding-top: 10px;
                    width: 100%;
                    letter-spacing: 1px;
                }
            }
            &.active{
                background-color: $colorDarker;
                color: $colorMedium;
                // box-shadow: 3px 3px $colorMedium;
                span:first-child{
                    border-color: $colorMedium;
                }
            }
        }
    }
}