@import "../../sass/partials/basic";

.seat-map{
    table{
        border: 2px solid #ccc;
        border-collapse: separate;
        border-spacing: 5px;
        background-color: lighten($colorMedium,5%);
        thead{
            tr{
                th{
                    background-color: rgba(0,0,0,0);
                    height: 80px;
                    span{//SCREEN
                        background-color: $colorMedium;
                        border: 1px solid $colorDark;
                        color: $colorDarker;
                        display: block;
                        margin: 0 auto;
                        width: 60%;
                        padding: 10px;
                        font-size: 20px;
                        font-weight: 700;

                    }
                }
            }
        }
        
        tr{
            margin: 5px;
        }
    }
    td{
        width: 45px;
        min-width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border: 3px solid lighten($colorMedium,10%);
        margin: 5px;
        font-size: 20px;
        color: $colorLight;
        font-weight: 600;
        &.available{
            background-color: $colorDark;
            cursor: pointer;
            transition: all .5s;
            &:hover{
                background-color: lighten($colorDark, 15%);
            }
            &.picked{
                background-color: $colorDarker;
                color: $colorLight;
            }
        }
        &.occupied{
            background-color: #666;
            cursor: auto;
            color: #888;
        }
        &.empty{
            opacity: 0;
        }
        &.row{
            background-color: rgba(0,0,0,0);
            color: darken($colorDarker,10%);
            
        }
    }
}