.myfilmPage{
    .tab1{
        table{
            width: 100%;
            margin-bottom: 20px;
            &, td, th{            
                border: 1px solid black;
            }
            td, th{
                padding: 15px 0;
            }
            tr{
                display: flex;
                .check{
                    flex: 1;
                    display: flex;
                    justify-content: center;
                }
                .title{
                    flex: 8;
                }
                th.title{                
                    font-size: 32px;
                    font-weight: 900;
                }
                td.title{
                    padding-left: 10px;
                    font-size: 20px;
                    font-weight: 500;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .text{
                        span{
                            margin: 0 5px;
                        }
                    }
                    .trash{
                        height: 30px;
                        width: 30px;
                        color: #555;
                        // background-color: blue;
                        position: absolute;
                        right: 5px;
                        margin-right: 15px;
                        text-align: center;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            display: block;
                        }
                    }
                    &.forbid{
                        background-color: #333;
                        color: #eee;
                    }
                }
                th, td.check{
                    text-align: center;
                }
            }
        } 
        .dialog-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.50);
            z-index: 999999;
            display: flex;
            justify-content: center;
            align-items: center;
            // display: none;
        
            .dialog {
                width: 400px;
                // margin: 100px auto 0;
                background-color: #fff;
                box-shadow: 0 0 20px rgba(0,0,0,.2);
                border-radius: 3px;
                overflow: hidden;
            
                .head {
                    padding: 10px 8px;
                    background-color: #f6f7f9;
                    border-bottom: 1px solid #e5e5e5;
                
                    h3 {
                        font-size: 14px;
                        margin: 0;
                        color: #555;
                        display: inline-block;
                    }
                    .fa-times {
                        float: right;
                        color: #c4c5c7;
                        cursor: pointer;
                        transition: all .5s ease;
                        padding: 0 2px;
                        border-radius: 1px;  
                    
                        &:hover {
                            color: #b9b9b9;
                        }
                        &:active {
                            box-shadow: 0 0 5px #673AB7;
                            color: #a2a2a2;
                        }
                    }
                }
                .dialog-msg {
                    padding: 12px 10px;
                
                    p{
                        margin: 0;
                        font-size: 15px;
                        color: #333;
                    }
                }
                .foot {
                    border-top: 1px solid #e5e5e5;
                    padding: 8px 10px;
                
                    .controls {
                        direction: rtl;
                    
                        .button {
                            padding: 5px 15px;
                            border-radius: 3px
                        }
                    }
                }
                .button {
                    cursor: pointer
                }
                .button-default {
                    background-color: rgb(248, 248, 248);
                    border: 1px solid rgba(204, 204, 204, 0.5);
                    color: #5D5D5D;
                }
                .button-danger {
                    background-color: #f44336;
                    border: 1px solid #d32f2f;
                    color: #f5f5f5
                }
                .link {
                    padding: 5px 10px;
                    cursor: pointer
                }  
            }
        }
    }
    .buttons{
        margin: 50px auto;
        display: flex;
        max-width: 450px;
        justify-content: space-between;
        a, button{
            font-size: 20px;
            padding: 10px 20px;
            width: 200px;
            border: none;
            display: block;
            background-color: darksalmon;
            text-align: center;
            flex:1;
            margin: 5px;
        }
        a:visited{
            color: black;
        }
    }
    h2.empty_info{
        text-align: center;
        padding: 30px;
        background-color: #fff;
        color: darkred;
    }
    .overlay{
        position: fixed;
        // width: 100%;
        // height: 100%;
        z-index: 101;
        background-color: rgba(0,0,0,.5);
        // filter: blur(10px);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // overflow: auto;
        // display: flex;
        justify-content: center;
        align-items: center;
        // display: none;
        transform: translateX(-100%);
        transition: all .5s;
        &.show{
            display: flex;
            transform: translateX(0);
        }
        .wrap{
            width: 100%;
            height: 100%;
            // background-color: #eee;
            overflow: auto;
            // margin: 0 auto;
            .panel{
                display: flex;
                .selected{
                    flex: 2;
                    ul{
                        padding-left: 15px;
                        li{
                            font-size: 24px;
                            color: white;
                            font-weight: 400;
                            margin: 8px 0;
                        }
                    }
                }
                .options{
                    flex: 8;
                }
            }
            #cancelOverlay{
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);
                // margin: 0 auto;
                input{
                    padding: 10px 20px;
                    margin: 15px;
                }

            }
            h3{
                text-align: center;
                padding: 15px 0;
                font-weight: 700;
                background-color: #666;
            }
            .title{
                font-size: 24px;
                text-align: center;
                padding: 15px 0;
                border: 5px solid lightsteelblue;
                border-radius: 5px;
                background-color: lightgray;
            }
            .items{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .item{
                    padding: 10px 20px;
                    // flex: 1;
                    flex-basis: 1;
                    border: 2px solid lightblue;
                    border-radius: 5px;
                    &.selected{
                        background-color: rgba(73, 56, 59, 0.5);
                        color: white;
                    }
                    &.notSelected{
                        color: white;
                        background-color: rgba(216, 81, 104, 0.5);
                        cursor: pointer;
                    }
                    &.hide{
                        display: none;
                    }
                }
            }
        }
    }
}