.myfilmPage{
    .tab1{
        table{
            width: 100%;
            margin-bottom: 20px;
            &, td, th{            
                border: 1px solid black;
            }
            td, th{
                padding: 15px 0;
            }
            tr{
                display: flex;
                .check{
                    flex: 1;
                    display: flex;
                    justify-content: center;
                }
                .title{
                    flex: 8;
                }
                th.title{                
                    font-size: 32px;
                    font-weight: 900;
                }
                td.title{
                    padding-left: 10px;
                    font-size: 20px;
                    font-weight: 500;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .text{
                        span{
                            margin: 0 5px;
                        }
                    }
                    .trash{
                        height: 30px;
                        width: 30px;
                        background-color: blue;
                        position: absolute;
                        right: 5px;
                        margin-right: 15px;
                        text-align: center;
                        cursor: pointer;
                    }
                    &.forbid{
                        background-color: #333;
                        color: #eee;
                    }
                }
                th, td.check{
                    text-align: center;
                }
            }
        }   
    }
    .buttons{
        margin: 50px auto;
        display: flex;
        max-width: 450px;
        justify-content: space-between;
        a, button{
            font-size: 20px;
            padding: 10px 20px;
            width: 200px;
            border: none;
            display: block;
            background-color: darksalmon;
            text-align: center;
            flex:1;
            margin: 5px;
        }
        a:visited{
            color: black;
        }
    }
    .overlay{
        position: fixed;
        // width: 100%;
        // height: 100%;
        z-index: 101;
        background-color: rgba(0,0,0,.5);
        // filter: blur(10px);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // overflow: auto;
        // display: flex;
        justify-content: center;
        align-items: center;
        // display: none;
        transform: translateX(-100%);
        transition: all .5s;
        &.show{
            display: flex;
            transform: translateX(0);
        }
        .wrap{
            width: 100%;
            height: 100%;
            // background-color: #eee;
            overflow: auto;
            // margin: 0 auto;
            .panel{
                display: flex;
                .selected{
                    flex: 2;
                    ul{
                        padding-left: 15px;
                        li{
                            font-size: 24px;
                            color: white;
                            font-weight: 400;
                            margin: 8px 0;
                        }
                    }
                }
                .options{
                    flex: 8;
                }
            }
            #cancelOverlay{
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);
                // margin: 0 auto;
                input{
                    padding: 10px 20px;
                    margin: 15px;
                }

            }
            h3{
                text-align: center;
                padding: 15px 0;
                font-weight: 700;
                background-color: #666;
            }
            .title{
                font-size: 24px;
                text-align: center;
                padding: 15px 0;
                border: 5px solid lightsteelblue;
                border-radius: 5px;
                background-color: lightgray;
            }
            .items{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .item{
                    padding: 10px 20px;
                    // flex: 1;
                    flex-basis: 1;
                    border: 2px solid lightblue;
                    border-radius: 5px;
                    &.selected{
                        background-color: rgba(73, 56, 59, 0.5);
                        color: white;
                    }
                    &.notSelected{
                        color: white;
                        background-color: rgba(216, 81, 104, 0.5);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}