@import "../../sass/partials/basic";

.tab2{
    div.table{
        width: 100%;
        margin-bottom: 20px;
        .head{
            position: relative;
            cursor: pointer;
            @include breakpoint("tablet"){
                display: none;
            }
            .row{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                border-bottom: 2px solid $colorDarker;
                color: $colorDarker;
                background-color: $colorMedium;
                font-weight: 900;

                .col{
                    flex: 1;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    h4{                    
                        font-size: 28px;
                    }
                }
            }
        }
        .body{      
            div.row{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                border-bottom: 2px solid $colorLight;
                color: $colorLight;
                font-weight: 500;
                min-height: 120px;
                @include breakpoint("tablet"){
                    flex-flow: column wrap;
                    align-items: stretch;
                    justify-content: flex-start;
                }
                &:hover{
                    background-color: $colorLight;
                    color: $colorDark;
                    label span{
                        // background-color: $colorDark;
                        border-color: $colorMedium;
                    }
                }
                .col{
                    flex: 1;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: relative;
                    height: 120px;
                    font-size: 20px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;

                        transform-origin: 50% 80%;
                        transition: all .5s;
                        &:hover{
                            // transform: scale(2);
                        }
                    }
                    @include breakpoint("tablet") {
                        
                        font-size: 24px;
                        flex: 100%;
                        // align-items: flex-start;
                        // justify-content: center;   
                        &:first-child{
                            height: 500px;
                        } 
                        &::before{
                            content: attr(data-th);
                            position: absolute;
                            left: 0;
                            top: 0;
                            color: $colorDarker;
                            font-weight: 700;
                            text-align: right;
                            height: 100%;
                        }
                    }
                    span{
                        width: 100%;
                        padding: 5px 0;
                    }
                    input[type="button"]{
                        background-color: $colorDarker;
                        color: $colorLight;
                        font-size: 20px;
                        border: none;
                        padding: 10px 20px;
                        border: 1px solid $colorLight;
                        font-weight: 600;
                        letter-spacing: 1px;
                        cursor: pointer;
                        &:active{
                            background-color: lighten($colorDarker,10%);
                        }
                        &:hover{
                            background-color: lighten($colorDarker,10%);
                        }
                    }
                    input[type="number"]{
                        padding: 5px 0 5px 8px;
                        width: 100px;
                        font-size: 20px;
                        // text-align: center;
                    }
                }               
            }             
            &:nth-child(2){
                @include breakpoint("tablet") {
                    .row{
                        // flex-flow: row wrap;
                        // justify-content: flex-start;
                        // align-items: center;
                        .col:nth-child(1), .col:nth-child(2), .col:nth-child(3){ 
                            // flex: 33%;                            
                        }
                        @include breakpoint("tablet") {
                            .col:nth-child(4), .col:nth-child(5){ 
                                // flex: 50%;                            
                            }
                        }
                    }
                }
            } 
        }
    } 
    .buttons{
        a:first-child{
            background-color: darken($colorLight,10%);
            color: $colorDark;
        }
    }
    .overlay{
        position: fixed;
        z-index: 101;
        background-color: rgba(0,0,0,.8);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        display: flex;

        justify-content: center;
        align-items: center;
        @include breakpoint("mobileonly"){
            justify-content: flex-start;
            overflow: auto;
        }

        transform: translateX(-100%);
        transition: all .5s;
        &.show{
            transform: translateX(0);
        }
        .wrap{
            overflow: auto;    
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            height: 100%;  
            overflow-x: scroll;
            h3{
                text-align: center;
                padding: 30px 0;
                font-size: 36px;
                background-color: $colorDarker;
                color: $colorLight;
                margin: 30px 0 0;
                letter-spacing: 2px;
            }      
            .seat-map{
                width: 100%;
                overflow: auto;
                table{
                    overflow: auto;
                }
            }                  
            #cancelOverlay {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 50px; 
                padding-bottom: 50px; 
                input {
                    background-color: $colorDarker;
                    color: $colorLight;
                    border: none;
                    padding: 10px 20px;
                    width: 120px;
                    height: 50px;
                    margin: 0 20px;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    cursor: pointer;
                    &:first-child{
                        background-color: $colorLight;
                        color: $colorDarker;
                        &:hover{
                            background-color: darken($colorLight,10%);
                        }
                    }
                    &:nth-child(2):hover{
                        background-color: lighten($colorDarker,10%);
                        color: $colorLight;
                    }
                }
            }
        }
    }
}