@import "../../sass/partials/basic";

.tab4{
    .wrap{
        background-color: $colorLight;
        color: $colorDarker;
        font-weight: 700;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        h3, p{
            text-align: center;
            margin: 20px 0;
            width: 100%;
            height: fit-content;
        }
        a{
            color: $colorMedium;
            font-size: 24px;
            font-weight: 700;
            padding: 10px 20px;
            box-sizing: border-box;
            margin: 20px auto;
            display: block;
            // max-width: 40%;
            border: none;
            @include breakpoint("mobileonly") {
                width: 80%;
            }
            background-color: $colorDarker;
            text-align: center;
            flex:1; 
            cursor: pointer;
            &:hover {
                background-color: $colorMedium;
                color: $colorDarker;
            }
        }

        a:hover:visited {
            color: $colorDarker;
        }

        a:visited {
            color: $colorMedium;
        }
    }
}