
/* -------------------------------------------- path ----------------------------------------------*/

$images: "../images/";


/* -------------------------------------------- breakpiont ----------------------------------------------*/

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; } // 1120px
  }
   @else if $point == tablet {
     @media (max-width: 64em) { @content ; } //1024px
  }
  	@else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; } //600px

  }
}

/* -------------------------------------------- color ----------------------------------------------*/

$colorDarker: #641a1d;
$colorDark: #8e5f59;
$colorMedium: #cbab9e;
$colorLight: #e3e0d9;

body{
	background-color: $colorDark;
}

/* -------------------------------------------- font ----------------------------------------------*/

$fontFamily: '微軟正黑體';

body{
    font-family: $fontFamily;
}

$fontSizeBase: 1rem;
h1{font-size: $fontSizeBase * 2;}
h2{font-size: $fontSizeBase * 1.8;}
h3{font-size: $fontSizeBase * 1.6;}
h4{font-size: $fontSizeBase * 1.4;}
h5{font-size: $fontSizeBase * 1.2;}
h6{font-size: $fontSizeBase; }



/* -------------------------------------------- text rec ----------------------------------------------*/

@mixin text-rec($width, $fontSize, $backgroundColor, $textColor, $borderColor){
    font-size: $fontSize;
    line-height: $fontSize * 2;
	text-align: center;
	background-color: $backgroundColor;
    color: $textColor;
	border: 2px solid $borderColor;
	width: $width;
	height: $fontSize * 2;
}

/* -------------------------------------------- container ----------------------------------------------*/

$headerHeight: 100px; 
.container{
	margin: ($headerHeight * 2.2) auto;
	// margin-bottom: ($headerHeight * 4);
	padding: 100px;
	width: 80vw;
	box-sizing: border-box;
	@include breakpoint("tablet") {
		width: 90vw;
		padding: 50px;
	}
	@include breakpoint("mobileonly") {
		width: 90vw;
		padding: 30px;
    }
}

/* -------------------------------------------- paragraph ----------------------------------------------*/

@mixin paragraph($textColor){
	color: $textColor;
	font-size: $fontSizeBase;
	line-height: 2rem;
	margin: 1.5rem auto;
}

/* -------------------------------------------- transition ----------------------------------------------*/

.transition{
	transition: all .3s;
}

